h1{
    text-align: center;
    text-shadow: #333333 1px 3px 5px;
}
h2{
    text-align: center;
    color: gray;
}
p:first-of-type{
    text-align: center;
}
span{
    color: red;
}
p{
    text-indent: 2em;
    font-family: "·ÂËÎ";
}

