body {
	font-size:12px;
	line-height:22px;
}
#content {
	/*width:500px;*/
	/*height:150px;*/
	border:1px #000 solid;
	overflow: hidden;
	/*float: right;*/
}
.p{
	float: right;
	border:1px #000 solid;
}
img{
	/*display: none;*/
}
